$primary-color: rgba(255, 255, 255, 0.87);
$secondary-color: linear-gradient(to top, #634b5c 0%, #52617a 100%);
$primary-font: "Poppins", sans-serif;
$background-color: linear-gradient(to top, #fcdaf2 0%, #ccdcf7 100%);
$text-color: #343a40;
// $background-color: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
